@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(28, 65, 102); */
}

@layer base{
  input{
    @apply border border-gray-500 p-3;
  }
}